<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="  
    http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-4.3.xsd  
    http://www.springframework.org/schema/mvc  
    http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<mvc:annotation-driven />
	<mvc:default-servlet-handler/>
	
	<!-- <mvc:default-servlet-handler/> -->
<!-- 	<mvc:resources mapping="/bootstrap/" location="WEB-INF/view/bootstrap/"/> -->
<!-- 	<mvc:resources mapping="/images/" location="WEB-INF/view/images/"/> -->
<!-- 	<mvc:resources mapping="/assets/" location="WEB-INF/view/assets/"/> -->
<!-- 	<mvc:resources mapping="/vendors/" location="WEB-INF/view/vendors/"/> -->
<!-- 	<mvc:resources mapping="/vendors/*/**" location="WEB-INF/view/vendors/*/"/> -->
<!-- 	<mvc:resources location="/" mapping="/WEB-INF/view/**/*.html" /> -->
<!-- 	<mvc:resources location="/" mapping="/WEB-INF/view/**/*.js" /> -->
<!-- 	<mvc:resources location="/" mapping="/WEB-INF/view/**/*.css" /> -->
<!-- 	<mvc:resources location="/" mapping="/WEB-INF/view/**/*.png" /> -->
<!-- 	<mvc:resources location="/" mapping="/WEB-INF/view/**/*.gif" /> -->

	
	<!-- 扫描controller（controller层注入） -->
	<context:component-scan base-package="com.sunvins.controller" />

	<!-- 对模型视图添加前后缀 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/WEB-INF/view/" p:suffix=".jsp" />
</beans>

