<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunvins.dao.UserDao">
	<resultMap id="User" type="com.sunvins.model.UserVO">
		<id column="cid" property="cid" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="CHAR" />
		<result column="user_password" property="userPassword" 	jdbcType="CHAR" />
	</resultMap>
	<!-- 查询单条记录 -->
	<select id="getByCid" parameterType="int" resultMap="User">
		select * from t_user where cid = #{cid}
	</select>

	<!-- 查询记录列表 -->
	<select id="getSearchList" parameterType="com.sunvins.bean.SearchBean"  resultMap="User">
		select * from t_user 
		<where>
			<if test="criteria1!=null">
				and user_name=#{criteria1}
			</if>
		</where>
	</select>
	
	<!-- 新增记录 -->
	<insert id="insert" parameterType="com.sunvins.model.UserVO">
		insert into t_user (cid, user_name,user_password) 
		values (#{cid}, #{userName}, #{userPassword})
	</insert>
	
	<!-- 更新记录 -->
	<update id="update" parameterType="com.sunvins.model.UserVO">
		update user set 
		user_name = #{userName},
		user_password = #{userPassword}
		where cid =#{cid}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="int">
		delete from t_user where cid = #{cid}
	</delete>
	
</mapper>